$color-brand: #4E4442; //4E4442
$color-danger: #DA3849;
$color-info: #25A2B6;
$color-white: #F8F9FA;
$color-border: #a4aca8;
$color-text: #444444;

body{
  background: #eeeeee;
  color: $color-text;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

#page{
  display: flex;
  min-height: 100vh;
}

main{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header{}

.header-container{
  background: lighten($color-brand, 30%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid darken($color-brand, 10%);
}

section{
  padding: 20px;
  flex-grow: 1;
}

footer{}

thead{
  font-weight: bold;
  background: #eeeeee;
}

a{
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}

//----- Buttons

.btn-brand{
  background: $color-brand;
  color: $color-white;
  border-color: darken($color-brand, 10%);

  &:hover, &:focus{
    background: lighten($color-brand, 10%);
    border-color: darken($color-brand, 10%);
  }

  &:focus{
    box-shadow: 0 0 0 0.1rem rgba($color-brand, 0.2);
  }
}

.btn-danger{
  background: $color-danger;
  color: $color-white;
  border-color: darken($color-danger, 10%);

  &:hover, &:focus{
    background: lighten($color-danger, 10%);
    border-color: darken($color-danger, 10%);
  }

  &:focus{
    box-shadow: 0 0 0 0.1rem rgba($color-brand, 0.2);
  }
}

.btn-info{
  background: $color-info;
  color: $color-white;
  border-color: darken($color-info, 10%);

  &:hover, &:focus{
    background: lighten($color-info, 10%);
    border-color: darken($color-info, 10%);
  }

  &:focus{
    box-shadow: 0 0 0 0.1rem rgba($color-brand, 0.2);
  }
}

//----- Forms

.form-input{
  color: $color-text;
  &:focus{
    border-color: $color-brand;
    box-shadow: 0 0 0 0.1rem rgba($color-brand, 0.2);
  }
}

.form-select{
  &:focus{
    border-color: $color-brand;
    box-shadow: 0 0 0 0.1rem rgba($color-brand, 0.2);
  }
}

.form-label{
  padding-top: 0;
  font-weight: bold;
}

.form-switch input:focus + .form-icon{
  border-color: $color-brand;
  box-shadow: 0 0 0 0.1rem rgba($color-brand, 0.2);
}

.form-switch input:checked + .form-icon{
  background: $color-brand;
  border-color: $color-brand;
}

//----- Table

.table.table-striped tbody tr:nth-of-type(odd){
  background: lighten($color-brand, 60%);
}

.table.table-hover tbody tr:hover{
  background: lighten($color-brand, 65%);
}

//----- Accordion

.accordion{
  margin-bottom: 20px;
}

.accordion-header.closed{
  border-radius: 5px;
}

.accordion-header{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background: #dddddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
}

.accordion-body{
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

//----- Custom General

.h6.line-behind-text {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 7px;

  //&::before {
  //  border-top: 2px solid #dddddd;
  //  content: "";
  //  margin: 0 auto;
  //  position: absolute;
  //  top: 50%;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  z-index: -1;
  //}

  span{
    background: #fff;
    padding: 0 10px;
  }
}


.p20{ padding: 20px }
//.mb10{ margin-bottom: 10px }
.mt10{ margin-top: 10px }
.mb5{ margin-bottom: 5px }
.mb20{ margin-bottom: 20px }
.mr10{ margin-right: 10px }
.h80{ height: 80px }